{
  "presets": [
    [
      "env",
      {
        "modules": false,
        "useBuiltIns": true,
        "loose": true,
        "targets": {
          "node": "6",
          "browsers": [
            "last 3 versions",
            "ie >= 9"
          ]
        }
      }
    ]
  ]
}
